<a href="https://colab.research.google.com/github/ecz17/ta-demo/blob/main/450_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
#importing the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, accuracy_score

In [55]:
# read data
data=pd.read_excel('/content/Data-USRegionalSales.xlsx')

In [56]:
# determine if theres any missing values
data.isnull().sum()

OrderNumber         0
Sales Channel       0
WarehouseCode       0
ProcuredDate        0
OrderDate           0
ShipDate            0
DeliveryDate        0
CurrencyCode        0
_SalesTeamID        0
_CustomerID         0
_StoreID            0
_ProductID          0
Order Quantity      0
Discount Applied    0
Unit Cost           0
Unit Price          0
dtype: int64

In [57]:
#checking data types
data.dtypes

OrderNumber          object
Sales Channel        object
WarehouseCode        object
ProcuredDate         object
OrderDate            object
ShipDate             object
DeliveryDate         object
CurrencyCode         object
_SalesTeamID          int64
_CustomerID           int64
_StoreID              int64
_ProductID            int64
Order Quantity        int64
Discount Applied    float64
Unit Cost           float64
Unit Price          float64
dtype: object

In [58]:
#converting date columns to datetime
date_cols = ["ProcuredDate", "OrderDate", "ShipDate", "DeliveryDate"]
for col in date_cols:
    data[col] = pd.to_datetime(data[col], errors="coerce", dayfirst=True)

In [59]:
#changing it to DD-MM-YYYY format
data_cols2 = ["ProcuredDate", "OrderDate", "ShipDate", "DeliveryDate"]  # Define data_cols2 here
for col in data_cols2:
    # Convert the column back to datetime objects if they are strings
    if data[col].dtype == 'object':
        data[col] = pd.to_datetime(data[col], format="%d-%m-%Y", errors='coerce')
    # Apply strftime only if the column contains datetime objects
    data[col] = data[col].dt.strftime("%d-%m-%Y")

# Access the columns using the correct attribute name
data[data_cols2] # Use data_cols2 to access the list of columns

     ProcuredDate   OrderDate    ShipDate DeliveryDate
0      31-12-2017  31-05-2018  14-06-2018   19-06-2018
1      31-12-2017  31-05-2018  22-06-2018   07-02-2018
2      31-12-2017  31-05-2018  21-06-2018   07-01-2018
3      31-12-2017  31-05-2018  06-02-2018   06-07-2018
4      04-10-2018  31-05-2018  16-06-2018   26-06-2018
...           ...         ...         ...          ...
7986   26-09-2020  30-12-2020  01-07-2021   14-01-2021
7987   26-09-2020  30-12-2020  01-02-2021   01-04-2021
7988   26-09-2020  30-12-2020  23-01-2021   26-01-2021
7989   26-09-2020  30-12-2020  20-01-2021   25-01-2021
7990   26-09-2020  30-12-2020  13-01-2021   19-01-2021

[7991 rows x 4 columns]

In [60]:
#Making column titles consistent naming system
data.columns = data.columns.str.strip().str.replace(" ", "_").str.lower()

#Adding total price column
data["total_price"] = data["unit_price"] * data["order_quantity"] * (1 - data["discount_applied"])

In [61]:
#checking for outliers

from scipy import stats